$orange = #F7931E

$lime = #A4C640
$lime-dark = #1fbf94

$green= #039965
$green-dark = #027F54

$blue = #04708C
$navy = #023340
$navy-dark = #022933

$indigo = #AA43AA

$pink = #F980BF

$grey = #777777
$grey-light = #eeeeee

$black = #343434
