grid(first, second, gap, justify_items, align_items, justify_content = stretch, columns = true)
  display: -ms-grid
  display: grid
  grid-gap: gap
  justify-items: justify_items
  -webkit-box-align: align_items
  -ms-flex-align: align_items
  align-items: align_items
  -webkit-box-pack: justify_content
  -ms-flex-pack: justify_content
  justify-content: justify_content
  
  if columns
    grid-template-columns: first second
    -ms-grid-columns: first second
    -ms-grid-rows: 1fr
    grid-template-rows: 1fr
  else
    grid-template-columns: 1fr
    -ms-grid-columns: 1fr
    -ms-grid-rows: first second
    grid-template-rows: first second
    -ms-flex-line-pack: justify_content
    align-content: justify_content

transform(x, y, rotate)
  -webkit-transform: translateX(x) translateY(y) rotate(rotate)
  -ms-transform: translateX(x) translateY(y) rotate(rotate)
  transform: translateX(x) translateY(y) rotate(rotate)

transform-with-scale(x, y, scale)
  -webkit-transform: translateX(x) translateY(y) scale(scale)
  -ms-transform: translateX(x) translateY(y) scale(scale)
  transform: translateX(x) translateY(y) scale(scale)

preserve3d()
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d

translate3d(posX, posY, posZ)
  -webkit-transform: translate3d(posX, posY, posZ)
  -ms-transform: translate3d(posX, posY, posZ)
  transform: translate3d(posX, posY, posZ)

animation(time, time_delay)
  -webkit-transition: all time ease
  -o-transition: all time ease
  transition: all time ease
  -webkit-transition-delay: time_delay
  -o-transition-delay: time_delay
  transition-delay: time_delay

box-shadow(x, y, blur, color)
  -webkit-box-shadow: x y blur 0px color
  box-shadow: x y blur 0px color