<!DOCTYPE html>
<html lang="<%= @locale %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="<%= gettext "meta description" %>"/>
    <meta name="author" content="Aleksandr Lipovskiy">

    <meta property="og:site_name" content="Vote and Rate"/>
    <meta property="og:url" content="https://vote-and-rate.online"/>
    <meta property="og:title" content="<%= gettext("main title") %>"/>
    <meta property="og:description" content="<%= gettext("main subtitle") %>"/>
    <meta property="og:image" content="<%= Routes.static_path(@conn, "/images/vote-and-rate.png") %>"/>
    <meta property="og:type" content="website">

    <!-- Generate og:locale tags -->
    <%= for {property, content} <- og_locales() do %>
      <%= Phoenix.HTML.Tag.tag(:meta, property: property, content: content) %>
    <% end %>

    <!-- Generate link alternate tags -->
    <%= for {lang, path} <- language_annotations(@conn) do %>
      <%= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
    <% end %>

    <title>Vote and Rate · <%= gettext("main title") %></title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body id="body">
    <%= render("header.html", assigns) %>

    <main role="main" class="container">
      <%= render("flash.html", assigns) %>

      <section class="main-content">
        <%= render @view_module, @view_template, assigns %>
      </section>
    </main>

    <%= render("nav.html", assigns) %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
